@import _font.sass

body
    font-family: police
    padding: 0
    margin: 0
header
    padding: 4%
h1
    font-weight: 700
    font-size: 300%
.barNav
    font-size: 90%
    color: #838a90
.carre
    height: 17px
    width: 17px
    background-color: black
    border-radius: 5px
    border: 1px solid #838a90
.modejour
    background-color: white
.boutonConnexion
    background-color: #6c757d
    color: white
    padding: 5px
.modesombre
    background-color: #343a40

    